<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-content">
            <a href="index.html">Home</a>
            <a href="about.html" class="active">About</a>
            <div class="dropdown">
                <button class="dropbtn">Weekly Report 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="week1.html">Weekly Report 1</a>
                    <a href="week2.html">Weekly Report 2</a>
                    <a href="week3.html">Weekly Report 3</a>
                    <a href="week4.html">Weekly Report 4</a>
                    <a href="week5.html">Weekly Report 5</a>
                    <a href="week6.html">Weekly Report 6</a>
                </div>
            </div> 
            <a href="team.html">Team</a>
            <div class="dropdown">
                <button class="dropbtn">Models 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="model1.html">Model 1</a>
                    <a href="model2.html">Model 2</a>
                    <a href="model3.html">Model 3</a>
                </div>
            </div> 
        </div>
    </div>

    <div class="content about-content">
        <div class="about-text">
            <h1>About Us</h1>
            <p>We are a team within a summer program called Uunchai.</p>
        </div>
        <div class="objectives-box">
            <h2>Our Objectives</h2>
            <ul>
                <li>To have fun</li>
                <li>To meet new people and form new connections</li>
                <li>To develop a model that will be of some help to farmers and will also help learn new things about Machine learning and Artificial intelligence</li>
            </ul>
        </div>
    </div>
</body>
</html>
