<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Report 4</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="week4.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-content">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <div class="dropdown">
                <button class="dropbtn">Weekly Report 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="week1.html">Weekly Report 1</a>
                    <a href="week2.html" class="active">Weekly Report 2</a>
                    <a href="week3.html">Weekly Report 3</a>
                    <a href="week4.html">Weekly Report 4</a>
                    <a href="week5.html">Weekly Report 5</a>
                    <a href="week6.html">Weekly Report 6</a>
                </div>
            </div> 
            <a href="team.html">Team</a>
            <div class="dropdown">
                <button class="dropbtn">Models 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="model1.html">Model 1</a>
                    <a href="model2.html">Model 2</a>
                    <a href="model3.html">Model 3</a>
                </div>
            </div> 
        </div>
    </div>

    <div class="content">
        <h1>Coming Soon...</h1>
    </div>
</body>
</html>
